:where(.css-dev-only-do-not-override-1wazalj).ant-input {
    background : none;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 100%;
}

.ant-select-selection-item {
    display: flex;
    align-items: center;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-input-affix-wrapper .ant-input-clear-icon-has-suffix {
    margin: -6px 0 0 0;
}